#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
}

#alarm-clock[wobble='1']{
  animation: wobble 1.5s 1;
}


@keyframes wobble {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}